@model Brand

<div class="container">
    <h1 class="text-center">Create new brand</h1>

    <form asp-action="Create" method="post">
        <div class="row justify-content-center">
            <div class="col-5 mb-3">
                <label asp-for="NameBrand" class="form-label">Brand name</label>
                <input asp-for="NameBrand" type="text" class="form-control" placeholder="Enter text ...">
                <span asp-validation-for="NameBrand" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5 mb-3">
                <label asp-for="ProducingCountry" class="form-label">Producing country</label>
                <input asp-for="ProducingCountry" type="text" class="form-control" placeholder="Enter text ...">
                <span asp-validation-for="ProducingCountry" class="text-danger"></span>
            </div>
        </div>       
        <div class="row justify-content-center">
            <div class="col-5">
                <a asp-action="Index" class="btn btn-dark">Back </a>
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </div>
    </form>

</div>
